
.Content {
    margin: 0 auto;
    position: relative;
}

.title {
    color: black;
    font-size: 24px;
    line-height: 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    margin: 32px 0 8px;
    width: 100%;
}

.card_container {
    display: flex;
    overflow-x: auto;
    gap: 24px;
}

.card_container::-webkit-scrollbar {
    height: 3px;
    background-color: #d8d8d8;
}

.card_container::-webkit-scrollbar-thumb{
    background-color: var(--gray);
}

.container {
    min-width: 300px;
    width: 40px;
    margin: 24px auto;
    border: 2px solid var(--lines);
    border-radius: 8px;
    cursor: pointer;
    transform: scale(0.9);
    transition: all ease 200ms;
    padding: 0 0 !important;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

#container_feijoada {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info {
    margin: 4px 12px 0;
    display: grid;
    grid-template-rows: 2fr 1fr;
    position: relative;
}

.container:hover {
    transform: scale(1);
    background-color: #c4c4c44d;
}

.name {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.desc {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    /* text-transform: capitalize; */
}

.price {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
    margin: 12px auto 4px auto;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.info_inf {
    text-align: center;
    display: flex;
    justify-content: center;
}

.fotter {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.fotter div {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding-top: 8px;
    margin: 0 240px;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 8px 8px 0 0;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.fotter div h5 {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
}

.fotter div p {
    font-size: 14px;
    line-height: 24px;
}

.image img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    padding: 0 !important;
}

.swal2-content {
    text-align: left !important;
}

.Swal-Container {
    display: grid !important;
    grid-template-columns: 3fr 1fr;
    margin: 64px 0 2px;
}

#lastHr {
    margin-bottom: 32px;
}

textarea {
    width: 100% !important;
    height: 96px !important;
    border: solid 0.5px var(--lines);
    outline: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
}

input {
    outline: none;
}

.op_msg {
    font-size: 12px;
    color: var(--gray);
    margin-top: 4px;
}

#msg_size {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
}

#obg {
    margin-top: 4px;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    padding-top: 2px;
    background-color: var(--background-color);
    max-height: 24px;
}

.select_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#c_price {
    color: var(--secondary-color);
    font-size: 14px;
    margin: 0;
}

.select_size p {
    margin: 0 auto;
}

.c_button {
    text-align: right;
    margin: auto 0;
}

input[type='radio']:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--secondary-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid var(--background-color);
}

#c_desc {
    margin: 0;
}

.c_info {
    margin: 2px 0;
    
}

#modal_title h5 {
    font-size: 18px;
    line-height: 28px;
}

#modal_title h4 {
    font-size: 26px;
    line-height: 36px;
    color: black;
}

input[type='checkbox']:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='checkbox']:checked:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--secondary-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid var(--background-color);
}

input[type='checkbox'] {
    visibility: hidden;
}

#total {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#final_container {
    margin: 0 !important;
}

.inside {
    list-style-type: circle;
    padding-left: 24px;
}

.inside-none {
    display: none;
    list-style-type: circle;
    padding-left: 24px;
}

.swal2-styled.swal2-confirm {
    background-color: var(--secondary-color) !important;
}

#error_msg {
    margin: 0 auto;
    text-align: center;
}

.swal2-styled.swal2-cancel {
    background-color: #dc3545;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill;
}

@media(max-width:980px) {

        #selectPayment {
            padding: 16px 0 !important;
        }



    .fotter div {
        background-color: var(--secondary-color);
        text-align: center;
        border-radius: 8px 8px 0 0;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin: 0 auto;
        padding: 8px;
    }
}

@media(max-width:720px) {

    .master_content{
        margin: 0 16px;
    }

    .fotter div {
        display: block;
        background-color: var(--secondary-color);
        text-align: center;
        border-radius: 8px 8px 0 0;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin: 0 auto;
        padding: 8px;
    }
    .fotter div h5 {
        font-size: 16px;
        line-height: 26px;
        font-weight: bold;
        margin: 0 auto !important;
        text-align: center !important;
    }
    .fotter p {
        display: none;
    }
}


@media(max-width:570px) {

    #payment_container{
        grid-template-columns: 2fr 1fr !important;
    }

    #radio_payment{
        margin: 0;
        max-width: 150px !important;
    }

    #troco {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 150px !important;
    }

    .master_content{
        margin: 0 16px;
    }

    .fotter div {
        background-color: var(--secondary-color);
        text-align: center;
        border-radius: 8px 8px 0 0;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin: 0 auto;
        padding: 8px;
    }
    .fotter div h5 {
        font-size: 16px;
        line-height: 26px;
        font-weight: bold;
        margin: 0 auto !important;
        text-align: center !important;
    }
    .fotter p {
        display: none;
    }
    .title {
        font-size: 20px;
        line-height: 30px;
        
    }
}


@media(max-width:470px) {

    #payment_container{
        grid-template-columns: 2fr 1fr !important;
    }

    #radio_payment{
        margin: 0;
        max-width: 100px !important;
    }

    #troco {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 100px !important;
    }


    .master_content{
        margin: 0 16px;
    }

    .image {
        display: none;
    }
    .container {
        display: block;
    }
    .fotter div {
        display: block;
        background-color: var(--secondary-color);
        text-align: center;
        border-radius: 8px 8px 0 0;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin: 0 auto;
        padding: 8px;
    }
    .fotter div h5 {
        font-size: 16px;
        line-height: 26px;
        font-weight: bold;
        margin: 0 auto !important;
        text-align: center !important;
    }
    .fotter p {
        display: none;
    }

    .title {
        font-size: 20px;
        line-height: 30px;
        
    }
}


@media(max-width:300px) {



    
    .master_content{
        margin: 0 16px;
    }


    .image {
        display: none;
    }
    .container {
        display: block;
    }
    .fotter div {
        display: block;
        background-color: var(--secondary-color);
        text-align: center;
        border-radius: 8px 8px 0 0;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin: 0 auto;
        padding: 8px;
    }
    .fotter div h5 {
        font-size: 16px;
        line-height: 26px;
        font-weight: bold;
        margin: 0 auto !important;
        text-align: center !important;
    }
    .fotter p {
        display: none;
    }

    .title {
        font-size: 20px;
        line-height: 30px;
        
    }
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step {
    background: var(--secondary-color-light) ;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line {
    background: var(--secondary-color-light) ;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step,
.swal2-progress-steps .swal2-progress-step-line,
.swal2-progress-steps .swal2-progress-step {
    background-color: var(--secondary-color-hover) ;
}

.payment_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#final_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.payment_info {
    text-align: left;
}

.payment_value {
    text-align: left;
    color: var(--secondary-color);
    font-size: 14px;
}

#troco {
    border-bottom: 1px solid black;
    padding-left: 16px;
    padding-right: 16px;
}

#troco_p {
    margin: 16px 0 0;
}

#msg_troco {
    text-align: center;
    color: black
}