header {
    text-align: center;
    padding: 0px;
    /* border-bottom: 2px solid var(--lines); */
    background-color: var(--secondary-color);
}


.Header {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.Header div {
    padding: 0;
    display: flex;
}

#botoes_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
}

.Restaurante {
    max-width: 64px;
    max-height: 64px;
    margin-left: 32px;
}

.login {
    background: none;
    color: white;
    font-size: 18px;
    line-height: 28px;
    font-size: bold;
    padding: 0 1vh;
    text-align: right;
    width: fit-content;
    border-radius: 16px;
    font-weight: bold;
}

.login:hover {
    color:rgb(224, 224, 224);
    transition: 200ms;
}


#login_box_aux {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#login_info {
    margin: 0 auto;
}

.login_card {
    width: 100% !important;
}

#login_info p {
    font-size: 16px;
    color: var(--lines);
    margin: 2vh 0 0;
}

#login_info input {
    border-bottom: 1px solid var(--lines);
    font-size: 16px;
    line-height: 26px;
    margin: 4px 0;
    width: 100%;
}

#login_fotter {
    margin: 0 auto;
    padding: 4vh 0 2vh;
}

#login_fotter p {
    text-decoration: underline;
    text-align: center;
    font-size: 16px;
    color: var(--lines);
}

#login_fotter p:hover {
    color: black;
    transition: 200ms;
}

#login_fotter a {
    text-decoration: none;
    color: var(--lines);
}

#perfil_b {
    padding: 0 !important;
}