:root {
    --primary-color: #EDEDED;
    --secondary-color: #f16d21;
    --lines: #83817f;
    --background-color: rgba(237, 237, 237, 0.9);
    --gray: #bebebe;
}

.box {
    border: 1.5px solid var(--lines);
    margin: 24vh 72vh;
    
}

#login_box_aux{
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#login_info {
    margin: 0 auto;
    vertical-align: center;
}

#login_fotter {
    margin: 0 auto;
    text-decoration: underline;
}