:root {
    --primary-color: #EDEDED;
    --secondary-color: #f16d21;
    --lines: #83817f;
    --background-color: rgba(237, 237, 237, 0.9);
    --gray: #bebebe;
}

.box {
    border: 1.5px solid var(--lines);
    margin: 24vh 72vh;
    
}

#login_box_aux{
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#login_info {
    margin: 0 auto;
    vertical-align: center;
}

#login_fotter {
    margin: 0 auto;
    text-decoration: underline;
}

.elemento_title_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.elemento_title_grid h4{
    cursor: pointer;
}

.tab {
    color: var(--secondary-color-light);
    text-align: center;
    font-size: 22px;
    line-height: 32px;
}

.tab.active{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 4px;
}

#perfil {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding-top: 4vh;
    width: 100%;
    text-align: center;
}

#header_space {
    margin-bottom: 4vh;
}

#container_perfil {
        background: rgb(255, 255, 255);
        position: relative;
        width: 800px;
        height: 100%;
        padding: 16px 0;
        margin: 24px auto;
        /* border: 2px solid var(--lines); */
        border-radius: 8px;
        box-shadow: 1px 1px 10px gray;
}

@media(max-width:1000px) {

    #container_perfil{
    width: 600px;
    }

    .elemento_title{
        margin:  8px 32px 0 !important;
    }

    .elemento_title h4 {
        font-size: 16px;
    }

    #last_page {
        display: block;
        top: 8px;
    }

    .cadastro_box{
        width: 240px !important;
        margin: 0 auto;
    }

}

@media(max-width: 640px){

    #container_perfil{
        width: 400px;
        }

        .elemento_title{
            margin:  8px 16px 0 !important;
        }
    
    
        .elemento_title h4 {
            font-size: 12px;
        }

        #last_page {
            display: block;
            top: 4px;
        }

        .cadastro_box{
            width: 160px !important;
            height: 54px !important;
            margin: 0 auto;
        }

        #botoes_header div button{
            font-size: 16px !important;
        }
}


@media(max-width: 560px){

    #container_perfil{
        width: 400px;
        }

        .elemento_title{
            margin:  8px 16px 0 !important;
        }
    
    
        .elemento_title h4 {
            font-size: 12px;
        }

        #last_page {
            display: block;
            top: 4px;
        }

        .cadastro_box{
            width: 160px !important;
            height: 54px !important;
            margin: 0 auto;
        }

}

@media(max-width: 450px){

    #container_perfil{
        width: 280px;
        }

        .elemento_title{
            margin:  8px 16px 0 !important;
        }
    
    
        .elemento_title h4 {
            font-size: 12px;
        }

        #last_page {
            display: block;
            top: 2px;
        }

        .cadastro_box{
            width: 160px !important;
            height: 54px !important;
            margin: 0 auto;
        }

        .elemento_container {
            display: inline-block !important;
        }

        .cadastro_box{
            margin-bottom: 16px;
        }
}