@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
:root {
    --primary-color: #EDEDED;
    --secondary-color: #f16d21;
    --secondary-color-hover: #e65d0e;
    --secondary-color-light: #fd9f69b0;
    --lines: #83817f;
    --background-color: rgba(237, 237, 237, 0.9);
    --gray: #bebebe;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    font-family: 'Roboto', sans-serif;
}

.hyper {
    display: none;
}